#keyboard-container {
	display: none;
}
.key-list { 
	width: 100%;
}
.key-list .row {
	margin: .1em 0 !important;
}
.key, .common {
	border: 1px solid blue;
	border-radius: 5%;
}
.backspace {
	margin-top: 2em;
}
li {
	font-size: 1.5em;
}